.Card {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border: 2px solid red;
}
.card_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card_User {
    padding: 3px;
}

.Card_mid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.Card_bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.Card_tags {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
  }

  .User_acticity {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .User_acticity_indicator {
    position: absolute;
    bottom: -3px;
    right: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: grey;
    z-index: 1;
  }
  
  .User_name.available .User_acticity_indicator {
    background-color: green;
  }
  
  
  
